/* line 14, ../sass/mixin.scss */
.icon-red {
  background: red;
}

/* line 14, ../sass/mixin.scss */
.icon-green {
  background: green;
}

/* line 14, ../sass/mixin.scss */
.icon-blue {
  background: blue;
}
